.portfolio{
    position: relative;
}
.portfolio .box{
    position: relative;
    border-radius: 10px;
}
.portfolio .box:hover{
    background: none;
    transform: translateY(-0);
}
.portfolio .img{
    height: 300px;
    overflow: hidden;
    transition: 0.5s ease;
}
.portfolio .img img{
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
}
.portfolio .box .img:hover img{
transform: scale(1.1);
}
.portfolio .categoty{
    margin: 20px 0;
}
.portfolio .categoty span{
    color: #ff014f;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
}
.portfolio .arrow{
    transform: rotate(-45deg);
    color: #ff014f;
    
    transition: 0.5s;
}
/* .portfolio .title:hover.arrow{
    opacity: 1;
} */
.portfolio h2{
    font-size: 18px;
    transition: 0.5s;
    padding-bottom: 30px;
}
.portfolio .box:hover h2{
    color: #ff014f;
}
.portfolio .box:hover{
    color: #000;
}

/* popup modal design */

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}
.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}
.overlay{
    background: #ecf0f3;
}
.madal-content{
    position: absolute;
    top: 12%;
    left: 8%;
    line-height: 1.4;
    background-color: #f0f3f5;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 85%;
    min-width: 60%;
    z-index: 9999;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    padding: 50px;
    border-radius: 10px;
}